<!DOCTYPE html>

<html lang="es" >
    <head>
        <title>
            {% block page_title %}
                --- Page title ---
            {% endblock %}
        </title>

        <!--
        <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
        <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
        -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {% block scripts %}
        {% endblock %}

        <meta name="robots" content="NONE,NOARCHIVE" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <!-- Container -->
        <div class="container-fluid">
            <!-- Navigation bar -->
            {% block navigation_bar %}
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">Sistema de Información Universitaria</a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="/direction/">Dirección<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/direction/enrollment/">Matricula</a></li>
                                        <li><a href="/direction/reproval/">Reprobación</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Docencia</a></li>
                                <li><a href="#">Tutoría</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/password_change/"><span class="glyphicon glyphicon-user"></span> Cambiar contraseña</a></li>
                                <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Cerrar sesión</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock %}
            <!-- END Navigation bar -->

            <!-- Breadcrumbs -->
            {% block breadcrumbs %}
                <ul class="breadcrumb">
                    <li><a class="active" href="/">Inicio</a></li>
                    {% block breadcrumbs_child %}
                    {% endblock %}
                </ul>
            {% endblock %}
            <!-- END Breadcrumbs -->

            <!-- Content -->
            {% block content %}
            {% endblock %}
            <!-- END Content -->

            <div id="footer"></div>
        </div>
        <!-- END Container -->
    </body>
</html>
