{% extends "base.html" %}

{% block page_title %}
    SIU - Dirección
{% endblock %}

{% block breadcrumbs %}
    &rsaquo; Dirección
{% endblock %}

{% block content_table_caption %}
    Dirección
{% endblock %}

{% block content_table_rows %}
    <tr>
        <th scope="row"><a href="/direction/enrollment">Matrícula</a></th>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th scope="row"><a href="/direction/reproval">Reprobación</a></th>
        <td></td>
        <td></td>
    </tr>
{% endblock %}

{% block content_data_table %}{% endblock %}