{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
    </script>

    <script type="text/javascript" src="/static/js/get_enrollment_info.js"></script>
{% endblock %}

{% block page_title %}
    SIU - Dirección - Matrícula
{% endblock %}

{% block breadcrumbs_child %}
    <li><a href="/direction/">Dirección</a></li>
    <li class="active">Matricula</li>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="POST" class="form-horizontal" id='id_form'>
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label col-sm-2">{{ form.academic_program.label }}</label>
                    <div class="col-sm-5">
                        {{ form.academic_program }}
                    </div>
                    <div class="col-sm-5"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">{{ form.generations.label }}</label>
                    <div class="col-sm-2">
                        {{ form.generations }}
                    </div>
                    <div class="col-sm-8"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">{{ form.percentage.label }}</label>
                    <div class="col-sm-1">
                        {{ form.percentage }}
                    </div>
                    <div class="col-sm-9"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                        <input class="form-control" type="button" value="Aceptar" onclick="get_enrollment_info();"/>
                    </div>
                    <div class="col-sm-8"></div>
                </div>
            </form>
        </div>
    </div>

    <div id="id_chart"></div>

    <div class="col-sm-12 table-responsive">
        <table class="table table-hover" id="id_data_table"></table>
    </div>
{% endblock %}