{% extends "base.html" %}

{% block page_title %}
    SIU | Iniciar sesión
{% endblock %}

{% block user_tools %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_table %}{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-warning">
            <strong>¡Su nombre de usuario y contraseña no coinciden!</strong> Por favor intente nuevamente.
        </div>
    {% endif %}

    <form action="{% url 'login' %}" class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-2">Nombre de usuario:</label>
            <div class="col-sm-3">
                <input autofocus="" class="form-control" id="{{ form.username.id_for_label }}" maxlength="254" name="{{ form.username.html_name }}" placeholder="Ingrese nombre de usuario" required type="text" />
            </div>
            <div class="col-sm-7"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Contraseña:</label>
            <div class="col-sm-3">
                <input autofocus="" class="form-control" id="{{ form.password.id_for_label }}" maxlength="254" name="{{ form.password.html_name }}" placeholder="Ingrese contraseña" required type="text" />
            </div>
            <div class="col-sm-7"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Iniciar sesión</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
    </form>
{% endblock %}

{% block content_data_table %}{% endblock %}